<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoKatana | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/mini-default.css')  }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/my_styles.css')  }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/wtform_styles.css')  }}">
</head>
</head>
<body>
    <header>
        <p>CryptoKatana</p>
    </header>
    <figure>
        <img id = "katanacenter" src="{{ url_for('static', filename='images/cryptokatana.png')  }}" alt="cryptokatana" />
    </figure>

    <section class="container">
        {% block content %}{% endblock %}
    </section>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="popup">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}

    <footer>
        &copy;MeirionStudios | All rights reserved 2021
    </footer>
</body>
</html>