{% extends 'base.html' %}

{% block title %}Katana Movements{% endblock %}

{% block content %}
<nav class="shadowed nav" >
    <ul>
        <li><span class="isDisabled"><a href="/movements">Transactions</a></span</li>
        <li><span class="isActive"><a href="/purchase">Purchase</a></span</li>
        <li><span class="isActive"><a href="/cryptovalues">Crypto Values</a></span</li>
        <li><span class="isActive"><a href="/investment">Investment</a></span</li>
    </ul>
  </nav>
  <div class="container"></div>
    <h1 class="katanaheading">Katana Transactions</h1>
    <table>
        <thead>
            <th>Date</th>
            <th>Time</th>
            <th>Ccy From</th>
            <th>QTY From</th>
            <th>Ccy To</th>
            <th>QTY To</th>
            <th>U. P.</th>
        </thead>
        {% for movement in data %}
            {% if not movement %}
                {{ no_movement_message }}
            {% else %}
                <tr>
                    <td>{{ movement.date }}</td>
                    <td>{{ movement.time }}</td>
                    <td>{{ movement.currency_from }}</td>
                    <td>{{ '%0.7f'|format(movement.quantity_from|float) }}</td>
                    <td>{{ movement.currency_to }}</td>
                    <td>{{ '%0.7f'|format(movement.quantity_to|float) }}</td>
                    <td>{{ '%0.7f'|format(movement.unit_price|float) }}</td>
                    
                </tr>
            {% endif %}
        {% endfor%}
    </table>
</a>
{% endblock %}