{% extends 'base.html' %}

{% block title %}Purchase{% endblock %}

{% block content %}
<nav class="shadowed nav" >
    <ul>
        <li><span class="isActive"><a href="/movements">Transactions</a></span</li>
        <li><span class="isDisabled"><a href="/purchase">Purchase</a></span</li>
        <li><span class="isActive"><a href="/investment">Investment</a></span</li>
    </ul>
  </nav>
    <h1 id="katanaheading">Katanate Your Currency</h1>
    
    <form action="/purchase" method="post">
        <fieldset class="myfieldset">
            {{ form.hidden_tag() }}
            <tr>
                {{ form.currency_from.label(class="wtflabels")}}
                {{ form.currency_from(class="wtffields") }}
            </tr>
            <tr>
                {{ form.currency_to.label(class="wtflabels")}}
                {{ form.currency_to(class="wtffields") }}
            </tr>
            <tr>
                {{ form.quantity_from.label(class="wtflabels")}}
                {{ form.quantity_from(class="wtffields", placeholder="Input Quantity") }}
            </tr>
            <tr>
                {{ form.calculate}}
            </tr>
            <tr>
                {{ form.quantity_to.label(class="wtflabels")}}
                <span class="isDisabled">{{ '%0.7f'|format(quantity_to_price|float) }}</span>
            </tr>
            </tr>
            <tr>
                {{ form.unit_price.label(class="wtflabels")}}
                <span class="isDisabled">{{ '%0.7f'|format(unit_price|float) }}</span>
            </tr>
            <span>
                {% if katanate %}
                    {{ katanate.crypto_katana }}
                {% endif %}
            </span>
        </fieldset>



        {% for error in form.quantity_from.errors %}
                    <p class="popup_from">
                        {{ error }}
                    </p>
                {% endfor %}

{% endblock %}